* {
	margin: 0px;
	padding: 0px;
}

body {
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(community.jpg);
	background-size:cover;
	background-attachment: fixed;
	font-family: new time roman;
}

h1 {
	font-size: 40px;
	color: orange	;
}

p{
	font-size: 17px;
	color: blue;
}
h3{
	font-size: 25px;
	color: white;
	margin-left: 0%;
}

.col-md-5{
	box-shadow: -1px 1px 60px 10px black;
	background:rgba(0,0,0,0.4);
	margin-left: 650px;
	margin-top: -600px;
	
}
.col-md-10 {
	margin-left: 100px;
	margin-top: -50px;

}

.col-md-7 {
	position: relative;
	transform: translate(-50%, -50%);
	height: 300px;
    width: 200px;
    background:rgba(0,0,0,0.8);
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
	border-radius: 10px;
	margin-top: 250px;
	margin-left: 250px;
}


.label {
	font-weight: normal;
	margin-top: 15px;
	color: white;
	font-size: 19px;
}
.form-control{
	background:transparent;
	border-radius: 0px;
	border:0px;
	border-bottom: 1px solid white;
	font-size: 18px;
	margin-top: -6px;
	height: 40px;
	color: white;
}

input[type="checkbox"]{
	margin-top: 15px;
	width: 15px;
	height: 15px;
}

small {
	font-size: 18px;
	color: white;
	margin-top: 0px;
}
input[type="checkbox"]{
	margin-top: 40px;
}

option {
	color: gray;
	margin-top: 500px;
	margin-bottom: -80px;
}

.btn-info {
	margin-top: 20px;
	font-size: 18px;
	width: 120px;
	margin-left: 80px;
	margin-bottom: 20px;
}
.btn-warning {
	margin-top: -87px;
	font-size: 18px;
	width: 120px;
	margin-left: 245px;
	margin-bottom: 20px;
}

.firas{ 
      margin-top: 25px;
  }

 .sss{
 	margin-top:-45px;
 	margin-left: 115px;
 }

 .cc {
 	margin-top: 30px;

 }

 .gg {
 	margin-top: 0px;
 }

 .dag {
 	height: 80px;
 	width: 20px;
 	margin-left: 40px;
 }

 .ff {
	 color: white;
 }