header {
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(2.jpg);
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;	
	background-position: center center;
}

.banner-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
    text-align: center;
    margin-left: -400px;
}

.navbar-brand {
	font-family: big john;
}
.nav-link {
	font-family: poppins;
	text-transform: uppercase;
	
}
#dd {
	color: black;
}
.banner-text p{
	font-family: poppins;
	color: #fff;
}

.banner-btn a {
	border: 1px solid #fff;
	border-radius: 50px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 10px 50px;
	display: inline-block;
	margin-top: 15px;
	color: #fff;

}

.banner-btn a.active{
	background: #fed136;
	border-color: #fed136;
	color: #000;
}

.text-area{
	font-size: 70px;
	font-family: roboto;
	text-transform: uppercase;
	font-weight: bold;
}

.text-area span{
	color: #fed136;
	opacity: 0;
	transform: translate(0, -100px) rotate(360deg) scale(0);
	animation: animate 5s forwards;
}

.text-area span{
	display: inline-block;
}

.text-area span:nth-of-type(2){
	animation-delay: .1s;
}
.text-area span:nth-of-type(3){
	animation-delay: .2s;
}
.text-area span:nth-of-type(4){
	animation-delay: .3s;
}
.text-area span:nth-of-type(5){
	animation-delay: .4s;
}
.text-area span:nth-of-type(6){
	animation-delay: .5s;
}
.text-area span:nth-of-type(7){
	animation-delay: .6s;
}
.text-area span:nth-of-type(8){
	animation-delay: .7s;
}

@keyframes animate {
	30%{
		transform: translate(0, -50px) rotate(180deg) scale(1);
	}
	60%{
		transform: translate(0, 20px) rotate(0deg) scale(.8);
	}
	100%{
		transform: translate(0) rotate(0deg) scale(1);
		opacity: 1;
	}
}

@media (max-width:500px) {
	.banner-text p {
		display: none;
	}

	.navbar-dark {
		background-color: #333;
	}
    .text-area{
		font-size: 35px;
	}
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background:rgba(0,0,0,0.8);
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    border-radius: 10px;
    margin-left: 400px;
}
.box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.box .inputBox {
    position: relative;

}
.box .inputBox input {

    width: 100%;
    padding: 10px 0;
    font-size: 16px; 
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.box .inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px; 
    color: #fff;
    pointer-events: none;
    transition: .5s;

}
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label
{
    top: -18px;
    left: 0;
    color: #03a9f4;
    font-size: 12px;
}

.box input[type="submit"]
{
    background: transparent;
    border: none;
    outline: none;
    background: #fed136;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.hh {
	margin-left: 90px;
	margin-top: -44px;
}

