* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),url(6.jpg);
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;	
	background-position: center center;
	margin: 0;
	padding: 0;
}



.container {
	max-width: 650px;
	margin: 1rem auto;
	overflow: auto;
	padding: 40px;
	background: rgba(0, 0, 0, 0.6);
	box-sizing: border-box;
	box-shadow:0 15px 25px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}


h1 {
	color: orange;
	margin-top: 15px;
}
h2 {
	color: blue;
}

h3 {
	margin-bottom: 10px;
    color: blue;
}

img {
	width: 100%;
}

.message {
	text-align: center;
	padding: 5px;
	border: #ccc dotted 2px;
	margin-top: 2rem;
	color: red;
}

.logo {
	width: 500px;
	display: block;
	margin: auto;
}

.form-group {
	margin: 1rem 0;	
}

input[type='text'],
select,
textarea {
	display: block;
	width: 100%;
	padding: 0.4rem;
	font-size: 1.2rem;
	border: 1px solid #ccc;
	color: black;
}

.btn {
	display: block;
	width: 100%;
	background: #333;
	color: #fff;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	outline: none;
	margin-top: 1rem;
	background-color:orange;
}

.ii {
	margin-left: -750px;
	width: 750px;
	height: 300px;

}

.container h3 {
	margin: 0 0 30px;
	padding: 0;
	color:#fff;
}

.container .form-group {
	position: relative;
}

.container .form-group input {
	   padding: 10px 0;
	   font-size: 16px;
	   color: #fff;
	   margin-bottom: 30px;
	   border: none;
	   outline: none;
	   background:transparent;
	   border-bottom: 1px solid #fff;
}
.container .form-group textarea {
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	margin-bottom: 30px;
	border: none;
	outline: none;
	background:transparent;
	border-bottom: 1px solid #fff;
}

.container .form-group select {
	padding: 10px 0;
	font-size: 16px;
	margin-bottom: 30px;
	border: none;
	outline: none;
	background:transparent;
	border-bottom: 1px solid #fff;
}

input {

	background: transparent;
    border: none;
    outline: none;
    background: #fed136;
    padding: 10px 20px;
    cursor: pointer;
	border-radius: 5px;	
	margin-top: 20px;
}
