<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css" />
    <title>Please rate your service</title>
    <link rel="shortcut icon" id="favicon-ico" href="../static/sfm.jpg">
<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//localhost:1234/matomo/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->


  </head>
  <body>
    <header>
      <div class="ii ">
          <img src="../static/logo1.jpg" alt="Lexus" class="logo" />
      </div>
    <div class="container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Al1opDxb3ok" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 

      {% if message %}
      <p class="message">{{ message | safe }}</p>
      {% endif %}
      <form id="firas-apply-form"action="/submit" method="POST">
        <div class="form-group">
          <h3>Employer Name</h3>
          <input
            type="text"
            name="customer"
            placeholder="Your full name please!"
          />
        </div>
        <div class="form-group">
          <h3>Domain</h3>
          <select name="dealer">
            <option value="">Select a Domain</option>
            <option value="Data Science">Data Science</option>
            <option value="Artificial Intelligence">Artificial Intelligence</option>
            <option value="Télécom">Télécom</option>
            <option value="Developement">Developement</option>
          </select>
        </div>
        <div class="form-group">
          <h3>Please rate Your level in the desired domain</h3>
          <input type="radio" name="rating" value="1" /> 1
          <input type="radio" name="rating" value="2" /> 2
          <input type="radio" name="rating" value="3" /> 3
          <input type="radio" name="rating" value="4" /> 4
          <input type="radio" name="rating" value="5" /> 5
          <input type="radio" name="rating" value="6" /> 6
          <input type="radio" name="rating" value="7" /> 7
          <input type="radio" name="rating" value="8" /> 8
          <input type="radio" name="rating" value="9" /> 9
          <input type="radio" name="rating" value="10" checked /> 10
        </div>
        <div class="form-group">
          <h3>Comments about your experience</h3>
          <textarea
            name="comments"
            id=""
            cols="30"
            rows="10"
            placeholder="Tell us what you liked and/or did not like"
          ></textarea>
        </div>
        <input type="submit" value="Submit" class="btn btn-info"/>
      </form>
      <form action="/home1" method="GET">
        <input type="submit" value="Home" class="btn btn-info"/>
      </form>
      <button class="btn btn-info" type="submit" onclick="_paq.push(['trackEvent', 'Button clicked', 'Click', 'Click Me']);">Go To Sign UP</button>
    </div>  
    </header> 
    </body>
</html>
