<!DOCTYPE html>
<html>
<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
         <link rel="stylesheet" href="../static/style4.css">
         <link rel="shortcut icon" id="favicon-ico" href="../static/sfm.jpg">
<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//localhost:1234/matomo/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->


</head>
<body>
			  <header>
                 
                    <div>
                       <img src="../static/Logo1.jpg">
                    </div>  
				  <div class="container">
					  <div class="banner-text">
						  <div class="text-area">
							  <span>S</span>
							  <span>F</span>
							  <span>M</span>
							  <span> </span>
                              <span>T</span>
                              <span>E</span>
                              <span>C</span>
                              <span>H</span>

						  </div>
						  <p>Hard work and imagination take us through the future and comes with great results .</p>
					     
                    </div>
                  
                  </div>
                  <div class="box">
                        {% if message %}
                        <p class="message">{{ message | safe }}</p>
                        {% endif %}
                        <h2>Login</h2>
                        <form action='/home'method="POST">
                            <div class="inputBox">
                                <input type="text" name="mail" required="">
                                <label>E-mail</label>
  
                            </div>
                            <div class="inputBox">
                                 <input type="password" name="password" required="">
                                 <label>password</label>
  
                            </div>
                            <input type="submit" name="" value="Login ">
                        </form>
                        <form  action="/home4" method="GET">
                            <div class="hh">
                            <input  type="submit" name="" value="Cancel">
                        </div>
                        </form>
                    </div>
			  </header>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>