<!DOCTYPE html>
<html>
<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="../static/style2.css">
		<link rel="shortcut icon" id="favicon-ico" href="../static/sfm.jpg">
		<title>the registration part</title>
		
<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//localhost:1234/matomo/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->


</head>
<body>
	
<div>
	<img src="../static/Logo1.jpg">
</div>
 <div class="container">
	 <div class="row">
		<div class="col-md-7">
			<h1 class="text-left">SFM technologies for life now</h1>
			<p class="ff">
				Cabinet d’ingénierie spécialisé dans les Télécommunications, SFM vous apporte son savoir-faire inégalé axé sur l’Expertise Technique, le Conseil et la stratégie de développement, la Formation de haut niveau et le développement des solutions et outils personnalisés orientés Ministères des Télécommunications, Opérateurs de Réseaux, Régulateurs des Télécommunications, Agences de Fréquences et autres acteurs de Télécommunication.	 			
			</p>
		</div>
		 <div class="col-md-5">
			 <!-- make a 2 column of 6 -->
			 {% if message %}
			 <p class="message">{{ message | safe }}</p>
			 {% endif %}
			  <div class="row">
			  <div class="col-md-6">
				 <h3 class="text-left">Registration Form</h3>
			  </div>
			  <hr>
			  <form action="/success" method="POST">
			  <div class="row">
				  <label class="label col-md-2 control-label">E-mail</label>
				  <div class="col-md-10">
					  <input type="E-mail" class="form-control" name="Email" placeholder="E-mail">
				  </div>
			  </div>
			   <div class="row">
				  <label class="label col-md-2 control-label">Password</label>
				  <div class="col-md-10">
					  <input type="Password" class="form-control" name="Password" placeholder="Password">
				  </div>
				  <div class="sss"> 
						  <input type="checkbox" name=""><small>  Remember Me!</small>
				  </div>
			  </div>
			   <div class="row">
				  <label class="label col-md-2 control-label">Message</label>
				  <div class="col-md-10">
					  <textarea class="form-control"></textarea>
				  </div>
			  </div>
			  <div class="row">
				  <label class="label col-md-2 cc control-label">Gender</label>
				  <div class="col-md-10">
					  <input type="radio" class="firas" name="gn" value="male"> <small>Male</small>
					  <input type="radio" class="firas"name="gn" value="female"> <small>Female</small>
				  </div>
			  </div>
			  <div class="row">
				  <label class="label col-md-2 control-label">Country</label>
				  <div class="col-md-10">
					  <select class="form-control gg">
						  <option>Tunisia</option>	
						  <option>Algérie</option>
						  <option>Cameroon</option>
						  <option>Marocco</option>
						  <option>Congo</option>
						  <option>Libye</option>
					  </select>
				  </div>
			  </div>
				  <input type="submit" value="register" class="btn btn-info"/>
			  </form>
			  <form action="/">
			      <input type="submit" value="Cancel" class="btn btn-warning">
			  </form>
			 
		  </div>
	 </div>
 </div>
</div>

</body>
</html>